        <!-- CONTACT -->
<div class="contact mt32">
    <div>Đăng ký để nhận tin từ Hyundai An Phú</div>
    <input type="text" placeholder="Nhập địa chỉ Email">
    <button>Gửi</button>
</div>

<!-- BEGIN FOOTER -->
<footer id="footer">
    <div class="content">
        <div class="container content-container">
            <div class="row content-wrap">
                <div class="col-md-3 col-12 content-item">
                    <img src="/Content/images/daily-logo-footer.png" alt="">
                    <p class="content-item-text">Hyundai An Phú - Đại lý ủy quyền chính thức của Hyundai Thành Công là địa điểm trưng bày các dòng xe mới nhất của Hyundai.</p>
                    <p class="content-item-text">
                        Tọa lạc tại trung tâm Thành Phố Hồ Chí Minh với các Showroom chuẩn 1S, 2S hiện đại, cùng đội ngũ chuyên viên tư vấn giàu kinh nghiệm.
                    </p>
                    <p class="content-item-text">Hyundai An Phú mang sứ mệnh phục vụ khách hàng trên Toàn quốc, giúp khách hàng có những trải nghiệm ấn tượng về sản phẩm - dịch vụ cao cấp của chúng tôi.</p>
                    <p class="content-item-text">Liên hệ ngay để được tư vấn và nhận các chương trình ưu đãi hấp dẫn</p>
                </div>
                <div class="col-md-3 col-12 content-item">
                    <div class="content-item-title">
                        HÌNH ẢNH
                    </div>
                    <div class="content-item-img">
                        <img src="/Content/images/181218_Gioi-thieu-showroom.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-12 content-item">
                    <div class="content-item-title">
                        BÀI VIẾT GẦN ĐÂY
                    </div>
                    <div class="row content-item-post">
                        <div class="col-md-4 col-3 post-img">
                            <img src="/Content/images/bv1.jpg" alt="">
                        </div>

                        <div class="col-md-8 col-9 post-link">
                            <span>🚘 CHƯƠNG TRÌNH GIA HẠN BẢO HÀNH “H...</span>
                            <span class="post-date">17/04/2020</span>
                        </div>
                    </div>
                    <div class="row content-item-post">
                        <div class="col-md-4 col-3 post-img">
                            <img src="/Content/images/bv2.jpg" alt="">
                        </div>
                        <div class="col-md-8 col-9 post-link">
                            <span>🔥 KHỞI SẮC ROADSHOW THÁNG 06 TẠI H...</span>
                            <span class="post-date">13/06/2020</span>
                        </div>
                    </div>
                    <div class="row content-item-post">
                        <div class="col-md-4 col-3 post-img">
                            <img src="/Content/images/bv3.jpg" alt="">
                        </div>
                        <div class="col-md-8 col-9 post-link">
                            <span>🏆 ĐÓN XE SANG CÙNG HYUNDAI AN PHÚ ...</span>
                            <span class="post-date">12/06/2020</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12 content-item">
                    <div class="content-item-title">
                        FACEBOOK
                    </div>
                    <div class="facebook-page">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhyundaianphu.mpcauto.vn%2F&tabs=timeline&width=290&height=196&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="290" height="196" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                </div>

                <div class="col-md-4 col-12 contact-info">
                    <div class="icon-info">
                        <img src="/Content/images/icon-market.svg" alt="">
                    </div>
                    <div>
                        Showroom 2S: 1052 Nguyễn Văn Linh, P.Tân Phong, Quận 7, TP.HCM
                    </div>
                </div>
                <div class="col-md-4 col-12 contact-info">
                    <div class="icon-info">
                        <img src="/Content/images/icon-market.svg" alt="">
                    </div>
                    <div>
                        Showroom 2S: 1052 Nguyễn Văn Linh, P.Tân Phong, Quận 7, TP.HCM
                    </div>
                </div>
                <div class="col-md-4 col-12 contact-info">
                    <div class="icon-info">
                        <img src="/Content/images/icon-contact.svg" alt="">
                    </div>
                    <div>
                        info@anphuhyundai.com.vn
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right">
        Copyright ©idocNet 2018
    </div>
    <!-- <div class="menu-bottom"> -->
    <div class="menu-bottom-left">
        <div class="social-platform">
            <div class="platform"><img src="/Content/images/youtube.svg" alt=""></div>
            <div class="platform"><img src="/Content/images/facebook.svg" alt=""></div>
        </div>
        <div class="hotline">
            <div class="phone-icon">
                <i class="fas fa-phone-alt"></i>
            </div>
            <div class="phone-circle2"></div>
            <div class="phone-number">1900 988 978</div>
        </div>
    </div>
    <div class="menu-bottom-right">
        <div class="register">
            <div class="regis register-drive">
                <a class="btn-register" href="">Đăng ký lái thử</a>
            </div>
            <div class="regis book-btn">
                <a class="btn-register" href="#">Đặt lịch bảo dưỡng</a>
            </div>
        </div>
        <div class="top-up-link" id="back-to-top">
            <a class="btn-top-up">
                <span class="text">Về đầu trang</span>
                <div class="line-link"></div>
                <div class="arrow-link">
                    <i class="fas fa-arrow-alt-circle-up"></i>
                </div>
            </a>
        </div>

        <div id="chat-box" class="chat-box">
            <div class="chat-box-header" onclick="closeChatBox()">
                <span class="chat-box-message">Chat với chúng tôi</span>
                <div class="chat-box-icon-close"><i class="fas fa-minus"></i></div>
            </div>
            <div class="chat-box-header chat-box-header-close" onclick="openChatBox()">
                <div class="chat-box-img"><img src="/Content/images/lcwg.png" alt=""></div>
                <span class="chat-box-message">Chat với chúng tôi</span>
            </div>
            <div class="chat-box-body display-none">
                <input type="text" class="chat-text" placeholder="Mời bạn nhập Tên"/>
                <input type="text" class="chat-text" placeholder="Mời bạn nhập Email"/>
                <input type="text" class="chat-text" placeholder="Mời bạn nhập số điện thoại"/>
                <textarea name="" id="" class="chat-text question-input" cols="1" rows="2"></textarea>
                <div class="line"></div>
                <button class="btn-send-message">Gửi tin nhắn</button>
            </div>
        </div>
    </div>
    <!-- </div> -->
</footer>

<!-- END FOOTER -->