@using idn.AnPhu.Biz.Models
@using idn.AnPhu.Biz.Services
@{
    Layout = null;
    var listNewsCate = idn.AnPhu.Biz.Services.ServiceFactory.NewsCategoriesManager.GetAllActive();
    var service = idn.AnPhu.Biz.Services.ServiceFactory.HtmlPageCategoriesManager.GetAllActiveByShortName("dich-vu");
    var services = idn.AnPhu.Biz.Services.ServiceFactory.HtmlPagesManager.GetHtmlPageByCateId(service.HtmlPageCategoryId);
    var buycar = idn.AnPhu.Biz.Services.ServiceFactory.HtmlPageCategoriesManager.GetAllActiveByShortName("mua-xe");
    var buycars = idn.AnPhu.Biz.Services.ServiceFactory.HtmlPagesManager.GetHtmlPageByCateId(buycar.HtmlPageCategoryId);
    var listPrdCate = idn.AnPhu.Biz.Services.ServiceFactory.PrdCategoriesManager.GetAllActive();
}

<header id="header">
    <ul id="nav">
        <li class="huyndai-logo">
            <a href="/Home/Index">
                <img src="/Content/images/hyundai-logo.png" id="huyndai-logo" alt="">
            </a>
        </li>
        <li>
            <a href="/vi/trang-tinh/gioi-thieu-chung">Giới thiệu</a>
        </li>
        <li class="nav-menu-sp">
            <a href="#">Sản phẩm</a>
            <ul class="subnav display-none js-subnav-item">
                @if (listPrdCate != null)
                {
                    foreach (PrdCategories prdcate in listPrdCate)
                    {
                        <li><a href="/vi/danh-sach-san-pham/@prdcate.PrdCategoryShortName">@prdcate.PrdCategoryTitle</a></li>
                    }
                }
            </ul>
        </li>
        <li>
            <a href="#">Tin tức</a>
            <ul class="subnav display-none js-subnav-item">
                @if (listNewsCate != null)
                {
                    foreach (NewsCategories newsCate in listNewsCate)
                    {
                        <li><a href="/vi/tin-tuc/@newsCate.NewsCategoryShortName/0">@newsCate.NewsCategoryTitle</a></li>
                    }
                }
            </ul>
        </li>
        <li>
            <a href="#">Dịch vụ</a>
            <ul class="subnav display-none js-subnav-item">
                @if (services != null)
                {
                    foreach (HtmlPages serv in services)
                    {
                        <li><a href="/vi/trang-tinh/@serv.HtmlPageShortName">@serv.HtmlPageTitle</a></li>
                    }

                }
            </ul>
        </li>
        <li>
            <a href="#">Đăng ký lái thử</a>
            <ul class="subnav display-none js-subnav-item">
                <li><a href="#">Đăng ký lái thử</a></li>
                <li><a href="#">Đặt lịch bảo dưỡng</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Mua xe</a>
            <ul class="subnav display-none js-subnav-item">
                @if (buycars != null)
                {
                    foreach (HtmlPages buyca in buycars)
                    {
                        <li><a href="/vi/trang-tinh/@buyca.HtmlPageShortName">@buyca.HtmlPageTitle</a></li>
                    }

                }
            </ul>
        </li>
        <li>
            <a href="#">Liên hệ</a>
        </li>
        <li class="daily-logo">
            <a href="/Home/Index">
                <img src="/Content/images/daily-logo.png" id="daily-logo" alt="">
            </a>
        </li>
    </ul>
</header>